<div [ngClass]="{'container': true, 'right-panel-active': isRightPanelActive}">
    <div class="form-container sign-up-container">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <h1>Create Account</h1>
            <div class="error-message-container">
                <app-form-error-message *ngIf="isRegisterFormSubmitted && registerUsername?.errors"
                    [message]="'Username is required and need to be between 3 and 20 symbols'" />
            </div>
            <input type="text" formControlName="username" placeholder="Username" />
            <div class="error-message-container">
                <app-form-error-message *ngIf="isRegisterFormSubmitted && registerEmail?.errors"
                    [message]="'Valid email address is required'" />
            </div>
            <input type="email" formControlName="email" placeholder="Email" />
            <div class="error-message-container">
                <app-form-error-message *ngIf="isRegisterFormSubmitted && registerPassword?.errors"
                    [message]="'Password is required and needs to be at a minimum with 6 symbols'" />
            </div>
            <input type="password" formControlName="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>Sign in</h1>
            <div class="error-message-container">
                <app-form-error-message *ngIf="isloginFormSubmitted"
                    [message]="'Ivalid email or password'" />
            </div>
            <input type="email" formControlName="email" placeholder="Email" />
            <input type="password" formControlName="password" placeholder="Password" />
            <a>Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" (click)="changePanelActivity()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" (click)="changePanelActivity()">Sign Up</button>
            </div>
        </div>
    </div>
</div>