<div class="container">
    <div class="nav">
        <div class="group">
            <span class="material-symbols-outlined forum">forum</span>
            <input type="text" placeholder="Search..." />
        </div>
        <span class="material-symbols-outlined">add_circle</span>
    </div>
    <div class="main">
        <div class="chat-list">
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat selected">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
        </div>
    </div>
</div>