<div class="container">
    <div class="nav">
        <div class="group">
            <span class="material-symbols-outlined forum">forum</span>
            <input type="text" placeholder="Search..." />
        </div>
        <span class="material-symbols-outlined">add_circle</span>
    </div>
    <div class="main">
        <div class="chat-list">
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat selected">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
            <div class="chat">
                <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/400w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-Pk-dGK9pdQg.jpg"
                    alt="Chat image">
                <span class="chat-name">willowRollins</span>
            </div>
        </div>
        <div class="open-chat">
            <div #scrollableMessages class="messages">
                <span class="message">
                    Lorem, ipsum dolor.
                </span>
                <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatum atque laudantium
                    dolor delectus, ipsa vero labore voluptatibus fugiat, molestiae ab maxime nesciunt dicta
                    veritatis quidem!
                </div>
                <div class="message mine">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab facere recusandae aut! Itaque
                    dignissimos excepturi necessitatibus quidem! Atque nostrum quae vel distinctio, ratione
                    excepturi facilis? Beatae nihil perspiciatis adipisci blanditiis, commodi iste perferendis
                    aliquam impedit eligendi alias nobis maxime similique omnis doloremque dicta totam nulla amet
                    dolores corrupti ad voluptate.
                </div>
                <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, possimus.
                </div>
                <div class="message mine">
                    Lorem ipsum dolor sit amet.
                </div>
                <div class="message mine">
                    Lorem ipsum
                </div>
            </div>
            <div class="bar">
                <input type="text" placeholder="Type something here...">
                <span class="material-symbols-outlined">image</span>
            </div>
        </div>
    </div>
</div>